<div class="well " ng-app="Jobs">
    <div ng-controller="SettingsCtrl">
        <h3>Scheduled Job Code</h3>
            <div class="main-column">
                <div class="well stacked">
                    <form class="form-horizontal" id="settings-form" ng-submit="submit()">
                        <div class="control-group">
                            <div class="editor-container">
                                <div ui-ace="{
                              theme:'deployd',
                              mode: 'javascript'
                            }" ng-model="code"></div>
                            </div>
                        </div>

                        <div class="form-actions" id="save-button-container">
                            <a class="btn btn-primary" type="button" id="run-button" ng-click="runScript()"><i class="icon-white icon-play" ></i> Run</a>
                            <button class="btn btn-success" id="save-button"><i class="icon-white icon-download"></i> Save</button>
                            <button class="btn" type="button" id="cancel-button"><i class="icon-remove"></i> Cancel</button>
                        </div>

                    </form>
                </div>
            </div>
                <div class="well">
                    <h3>Logs</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Message</th>
                        </tr>
                        <tr ng-repeat="entry in logEntries">
                            <td>
                                {{entry.date | date:'yyyy-MM-dd HH:mm:ss'}}
                            </td>
                            <td>
                                {{entry.message}}
                            </td>
                        </tr>
                    </table>
                </div>
    </div>
</div>
